<!DOCTYPE html>
<html>
  <head>
  </head> 
  <body>
	<h1>Admin page of the poll "{{election.name}}"</h1>
    {% if election.open %}
        <p>This election is still open. You need to close it to see the results. Caution, if you close it there is no going back!</p>
        <form action="{% url 'electionapp.views.close_election' election.key|add:election.admin_key %}" method="POST">{% csrf_token %}
            <input type="submit" value="Close the election" />
        </form>
    {% else %}
        <p>The election is closed.
        <form action="{% url 'electionapp.views.analyze_key' election.key %}" method="POST">{% csrf_token %}
            <input type="submit" value="See results" />
        </form>
        <form action="{% url 'electionapp.views.close_election' election.key|add:election.admin_key True %}" method="POST">{% csrf_token %}
            <input type="submit" value="Open election (dev only)" />
        </form>
    {% endif %}
  </body>
</html>