<!DOCTYPE html>
<html lang="en">
<html>
  <head>
      <script src="//code.jquery.com/jquery-1.9.1.js"></script>
       <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      {% block style %}{% endblock %}
      {% block javascript %}{% endblock %}
      <title>{% block title %}Waggled{% endblock %}</title>
  </head> 
  <body>
      <div id="header">
          {% block header %}
          <a href="{% url 'electionapp.views.polls_overview' %}">All polls</a>
          <a href="{% url 'electionapp.views.users_overview' %}">All users</a>
          <a href="{% url 'electionapp.views.index' %}">Index</a>
          <a href="{% url 'electionapp.views.create' %}">Create</a>
          
          {% endblock %}
      </div>
      <div id="content">
      {% block content %}
      {% endblock %}
      </div>
  </body>
</html>