<!DOCTYPE html>
<html lang="en">
<html>
  <head>
      <script src="//code.jquery.com/jquery-1.9.1.js"></script>
       <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      {% block style %}{% endblock %}
      {% block javascript %}{% endblock %}
      <title>{% block title %}Waggled{% endblock %}</title>
  </head> 
  <body>
      <div id="header">
          {% block header %}
          [
          <a href="{% url 'electionapp.views.polls_overview' %}">All polls</a>
          <a href="{% url 'electionapp.views.users_overview' %}">All users</a>
          <a href="{% url 'electionapp.views.ballots_overview' %}">All ballots</a>
          <a href="{% url 'electionapp.views.results_overview' %}">All results</a>
          ]
          <a href="{% url 'electionapp.views.index' %}">Index</a>
          <a href="{% url 'electionapp.views.create' %}">Create a poll</a>
          
          {% if user.is_authenticated %}
          {{user.username}}
          <a href="{% url 'electionapp.views.dashboard' %}">Dashboard</a>
          <a href="{% url 'electionapp.views.logout' %}">Logout</a>
          {% else %}
          <a href="{% url 'electionapp.views.account' %}">Create an account</a>
          <a href="{% url 'electionapp.views.login' %}">Login</a>
          {% endif %}
          
          {% endblock %}
      </div>
      <div id="content">
      {% block content %}
      {% endblock %}
      </div>
  </body>
</html>