{% extends "base.html" %}

{% block javascript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script>
    $(function() {
      
      function updateEmailRequiredness() {
      var checked = $('#id_creator-invite_me').is(':checked');
      $('#id_creator-email').prop('required',checked);
      }
      
      function guestsVisibility() {
      var type =  $('input[name=election-type]:checked').val();
      if(type==1){
      $('.guests').show();
      $('.guests input').each(function(){$(this).prop('required',true);});
      }
      else{
      $('.guests').hide();
      $('.guests input').each(function(){$(this).prop('required',false);});
      }
      }
      
      function customsystemVisibility() {
      var key = $('#id_election-system').val();
      if(key=='RGV'){
      $('#RGV-slider').show();
      $('#id_RGV_custom-min').prop('required',true);
      $('#id_RGV_custom-max').prop('required',true);
      }
      else{
      $('#RGV-slider').hide();
      $('#id_RGV_custom-min').prop('required',false);
      $('#id_RGV_custom-max').prop('required',false);
      }
      }
      
      function inviteMeVisibility() {
      var type =  $('input[name=election-type]:checked').val();
      if(type==1){
      $('p #id_creator-invite_me').parent().show();
      }
      else{
      $('#id_creator-invite_me').parent().hide();
      }
      }
      
      $(window).load(function(event) {
                     guestsVisibility();
                     customsystemVisibility();
                     inviteMeVisibility();
                     updateEmailRequiredness();
                     });
      
      $('#id_election-system').change(function(event){customsystemVisibility()});
      $('#id_election-type').change(function(event){
                                    guestsVisibility();
                                    inviteMeVisibility();
                                    });
      $('#id_creator-invite_me').change(function(event){
                                        updateEmailRequiredness();
                                        });
      
    });
    
</script>

<script>
        $(function() {
          $( "#slider-range" ).slider({
                                      range: true,
                                      min: 0,
                                      max: 100,
                                      values: [ 0, 20 ],
                                      slide: function( event, ui ) {
                                        $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                                        $('#id_RGV_custom-min').val(ui.values[0]);
                                        $('#id_RGV_custom-max').val(ui.values[1]);
                                      }
                                      });
          $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
                             " - " + $( "#slider-range" ).slider( "values", 1 ) );
          });
        </script>

<script>
    var s_to_print = {'candidate': 'candidate', 'emailguest':'guest'};
    $(document).ready(function () {
                      
                      function updateElementIndex(el, prefix, ndx) {
                      var id_regex = new RegExp('(' + prefix + '-\\d+-)');
                      var replacement = prefix + '-' + ndx + '-';
                      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,replacement));
                      if (el.id) el.id = el.id.replace(id_regex, replacement);
                      if (el.name) el.name = el.name.replace(id_regex, replacement);
                      }
                      
                      function deleteForm(btn, prefix, s) {
                      //s = typeof s !== 'undefined' ? s : 'candidate';
                      var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                      if (formCount > 1) {
                      // Delete the item/form
                      $(btn).parents('.'+s).remove();
                      var forms = $('.'+s); // Get all the forms
                      // Update the total number of forms (1 less than before)
                      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                      var i = 0;
                      // Go through the forms and set their indices, names and IDs
                      for (formCount = forms.length; i < formCount; i++) {
                      $(forms.get(i)).children().children().each(function () {
                                                                 if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                                                                 });
                      }
                      } // End if
                      else {
                      alert("You have to enter at least one "+s_to_print[s]+"!");
                      }
                      return false;
                      }
                      
                      function addForm(btn, prefix, s) {
                      var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
                      // You can only submit a maximum of 10 candidates
                      if (formCount < 10) {
                      // Clone a form (without event handlers) from the first form
                      var row = $("."+s+":first").clone(false).get(0);
                      // Insert it after the last form
                      $(row).removeAttr('id').hide().insertAfter("."+s+":last").slideDown(300);
                      
                      // Remove the bits we don't want in the new row/form
                      // e.g. error messages
                      $(".errorlist", row).remove();
                      $(row).children().removeClass("error");
                      
                      // Relabel or rename all the relevant bits
                      $(row).children().children().each(function () {
                                                        updateElementIndex(this, prefix, formCount);
                                                        $(this).val("");
                                                        });
                      
                      // Add an event handler for the delete candidate/form link
                      $(row).find(".delete_"+s).click(function () {
                                                      return deleteForm(this, prefix, s);
                                                      });
                      // Update the total form count
                      $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
                      } // End if
                      else {
                      alert("Sorry, you can only enter a maximum of ten "+s_to_print[s]+"s.");
                      }
                      return false;
                      }
                      
                      // Register the click event handlers
                      $("#add_candidate").click(function () {
                                                return addForm(this, 'candidate', 'candidate');
                                                });
                      $("#add_emailguest").click(function () {
                                                 return addForm(this, 'emailguest', 'emailguest');
                                                 });
                      
                      $(".delete_candidate").click(function () {
                                                   return deleteForm(this, 'candidate', 'candidate');
                                                   });
                      $(".delete_emailguest").click(function () {
                                                    return deleteForm(this, 'emailguest', 'emailguest');
                                                    });
                      
                      });
    </script>

{% endblock %}

{% block content %}
{% if success %}
    <p> Congratulations, your poll has been created!</p>
{% else %}
<h1>Create your poll!</h1>
<form action="{% url 'electionapp.views.create' %}" method="POST">{% csrf_token %}
    
    <div class='general'>
        <h2>General information</h2>
        {{ election_form.as_p }}
    </div>
    
    <div class='customsystem'>
        {% for key,customsystem_form in customsystem_forms.items %}
            {{ customsystem_form.as_p }}
        {% endfor %}
        <div id='RGV-slider' style="display:none">
            <p>
            <label for="amount">Range of grades:</label>
            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                </p>
            <div id="slider-range"></div>
        </div>
    </div>

        
    <div class='candidates'>
        <h2>Candidates</h2>
        {{ candidate_formset.management_form }}
        {% for form in candidate_formset.forms %}
        <div class="candidate">
            {{ form.as_p }}
            <p style=""><a class="delete_candidate" href="#">Delete</a></p>
        </div>
        {% endfor %}
        <p><a id="add_candidate" href="#">Add another candidate</a></p>
    </div>
    <div class='guests'>
        <h2>Guests</h2>
        {{ emailguest_formset.management_form }}
        {% for form in emailguest_formset.forms %}
        <div class="emailguest">
            {{ form.as_p }}
            <p style=""><a class="delete_emailguest" href="#">Delete</a></p>
        </div>
        {% endfor %}
        <p><a id="add_emailguest" href="#">Add another guest</a></p>
    </div>
    <div class='creator'>
        <h2>You</h2>
        {{ creator_form.as_p }}
    </div>
    <div class='submit'>
        <input type="submit" value=" Submit " />
    </div>
</form>
{% endif %}
{% endblock %}