<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script>
    $(function() {
      $('#sortable').sortable({
        update: function(event, ui) {
                              var rkg = '';
                              $('.ui-state-default').each(function(){
                                                            rkg = rkg + $(this).attr('id')+';';
                                                          })
                              $('#id_ranking').attr('value',rkg);
        }
      });
      $( "#sortable" ).disableSelection();
    });
    </script>
  </head> 
  <body>
	<h1>Here you vote!</h1>
    
    {{ form.errors }}
    
    {% if send %}
        Your vote has been cas all right!
    {% else %}
        {% if form.requires_ranking %}
            <p>Please rank candidates.</p>
            <ul id="sortable">
                {% for choice in form.choices %}
                <li class="ui-state-default" id="{{ choice.0 }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{ choice.1 }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'electionapp.views.analyze_key' election.key %}" method='post'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Submit' />
        </form>
    {% endif %}

  </body>
</html>